.main-features-list {
    display: flex;
    justify-content: space-between;
}

.features-list {
    max-width: 270px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.features-list-container {
    height: 120px;
    max-width: 270px;
    @include flex-center;
    background-position: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.features-list-svg {
    width: 70px;
    height: 70px;
}

.features-title {
    margin-bottom: 10px;
    @include font($fw: 700);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-light-theme);
}

.description-features-title {
    @include font($fw: 400, $lh: 24px);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-light-theme);
}